*, ::after, ::before {
    box-sizing:border-box;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

p {
  margin-bottom: 0px !important;
}

a:hover {
  text-decoration: none;
}

a:focus, button:focus, input:focus {
  outline: 0;
  box-shadow: none;
}

.border-btn {
    width: 240px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #005670;
    border: 2px solid #005670;
    font-family: 'Avenir-Medium', sans-serif;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    transition: all .4s;
}

.md-container {
  width: calc(1140px + 120px);
  max-width: 80%;
  margin: 0 auto;
}

.lg-container {
  width: calc(1140px + 300px);
  max-width: 95%;
  margin: 0 auto;
}

.d-done {
    display: none;
}

.sp {
    display: none;
}
@font-face {
  font-family: 'Avenir-Light';
  src: url("https://fonts/Avenir-Light/Avenir-Light.eot");
  src: url("https://fonts/Avenir-Light/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("https://fonts/Avenir-Light/Avenir-Light.svg#Avenir-Light") format("svg"), url("https://fonts/Avenir-Light/Avenir-Light.ttf") format("truetype"), url("https://fonts/Avenir-Light/Avenir-Light.woff") format("woff"), url("https://fonts/Avenir-Light/Avenir-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Avenir-Light','sans-serif' !important;
    font-size: 13px;
    color: #2a2a2a;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-anmiation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* animation for body end */
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
}

/*--------header--------*/
.uk-container {
    max-width: 80%;
    padding: 0;
}

.uk-container-small {
    max-width: 980px !important;
}

.header {
    position: relative;
}

.banner {
    width: 100%;
    padding: 20px 0 198px 0;
    background-image: url('../../img/background_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: 50% 50%;
}
.uk-navbar {
    height: 80px;
}

.uk-navbar-nav {
    align-items: center;
    padding-top: 15px;
}

.navbar-brand a {
    display: inline-block;
}

.navbar-brand img {
    width: 71%;
}

.uk-navbar-right {
    width: 788px;
    margin: 0 0 0 auto;
}

.uk-navbar-right li {
    padding-left: 27px;
    letter-spacing: 1px;
}

.uk-navbar-nav>li:hover>a {
    color: #fff;
    border-bottom: 2px solid #a4ca62;
}

.uk-navbar-right li a {
    font-family: 'Avenir-Medium';
    font-size: 13px;
    color: #ffffff;
    padding: 0;
    min-height: inherit;
    text-transform: none;
    transition: all .3s;
}

.uk-navbar-nav li:last-of-type {
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 0;
    margin-left: 27px;
}

.uk-navbar-nav li:last-of-type a{
    color: #fff;
    padding: 11px 45px 11px 45px;
    border-radius: 5px;
    border: none;
}

.uk-navbar-nav li:last-of-type:hover {
    background: #a4ca62;
    color: #ffffff;
    border: 2px solid #a4ca62;
}

.banner .banner-content {
    font-family: 'Exo Medium', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    margin-top: 105px;
}

.banner .banner-content .title {
    font-family: 'Exo Black', sans-serif;
    font-size: 52px;
    font-style: italic;
    line-height: 65px;
    margin-bottom: 20px; 
}

/*------section-------*/
.home-intro-wrap {
    position: relative;
}

.home-intro-wrap .home-arrow {
    position: absolute;
    width: 34%;
    top: -40%;
    right: 2%;  
}

.home-intro {
    display: -ms-flexbox;
    display: flex;
    padding: 52px 0px 60px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home-intro .left-contents {
    font-family: 'Exo Medium' !important;
    font-size: 20px;
    font-style: italic;
    color: #005670;
    width: calc(100% - 575px);
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.home-intro .right-contents {
    font-size: 12px;
    width: 294px;
    line-height: 1.7em;
    margin: 180px 57px 0;
}

/*---expertise----*/
.expertise-slider-wrap .contents {
    background-color: #005670;
    background-image: url("../../img/line-lime.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    color: #ffffff;
    position: relative;
}

.expertise-slider-wrap .contents .uk-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 85px 0px 380px;
}

.expertise-slider-wrap .contents .left-contents {
    font-family: 'Exo Black';
    font-size: 30px;
    font-style: italic;
    width: 335px;
    max-width: 100%;
    margin-top: -10px;
}

.expertise-slider-wrap .contents .right-contents {
    font-family: 'Avenir-Book', sans-serif;
    font-size: 13px;
    width: calc( 100% - 522px);
    max-width: 100%;
    margin: 0 auto;
}

/*--expertis slider---*/

.expertise-slider-wrap .expertise-slider {
    overflow: hidden;
    margin-top: -342px;
}

.expertise-slider-wrap .expertise-slider-container {
    overflow: visible;
    padding-bottom: 80px;
}

.expertise-slider-wrap .expertise-slider-container .swiper-slide 
.swiper-slide-image-wrap {
    overflow: hidden;
    height: 195px;
}

.expertise-slider-wrap .expertise-slider-container .swiper-slide .bg-img {
    width: 100%;
    height: 195px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: transform .4s;
}

.expertise-slider-wrap .expertise-slider-container .swiper-slide .bg-img:hover {
    transform: scale(1.3);
}

.expertise-slider-wrap .expertise-slider-container .caption {
    background-color: #005670;
    font-family: 'Exo Medium';
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    min-height: 145px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.expertise-slider-wrap .expertise-slider-container .caption > div {
    width: 280px;
    max-width: 100%;
}

.expertise-slider-wrap .expertise-slider-container .caption .slider-a-tag {
    color: #fff;
    transition: all .4s;
}

.expertise-slider-wrap .expertise-slider-container .caption .slider-a-tag:hover {
    color: #65c5b4;
    text-decoration: none;
}

.expertise-slider-wrap .expertise-slider-container .btn-arrow {
    background: linear-gradient(#3fc0ab, #a4d65e);
    width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-top: auto;
}

.expertise-slider-wrap .expertise-slider-container .btn-arrow i {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    text-align: center;
    background-color: #005670;
    border-radius: 50%;
    color: #70c985;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .4s;
}

.expertise-slider-wrap .expertise-slider-container .btn-arrow i:hover {
    background-color: #a4ca62;
    color: #fff;
}

.swiper-button {
    margin-bottom: 147px;
}

.swiper-button-prev, .swiper-button-next {
    width: 36px !important;
    height: 36px !important;
    background: #006685;
    border-radius: 32px;
    top: 33px !important;
}

.swiper-button-prev {
    left: 59px !important;
}

.swiper-button-next {
    left: 113px !important;
}

.swiper-button-prev:after {
    font-size: 23px !important;
    color: #fff !important;
    margin-left: -3px;
}

.swiper-button-next:after {
    font-size: 23px !important;
    color: #fff !important;
    margin-right: -3px;
}

/*----design warp---*/
.design-wrap {
    padding: 45px 0px 100px;
}

.design-wrap .intro {
    text-align: center;
    width: 520px;
    max-width: 100%;
    margin: 0 auto 80px;
}

.design-wrap .intro h1 {
    font-size: 30px;
    font-family: 'Exo Black' !important;
    font-style: italic;
    margin-bottom: 15px;
}

.design-wrap .design-steps {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.design-wrap .design-steps .line {
    width: 84%;
    height: 7px;
    background-image: linear-gradient(to left, #40c1ac, #005670);
    background: linear-gradient(to left, #40c1ac, #005670);
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    margin: auto;
}

.design-wrap .design-steps .step .num {
    font-family: 'Exo-BoldItalic', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
}

.design-wrap .design-steps .step .num::before {
    content: ' ';
    background: linear-gradient(#3fc0ab, #a4d65e);
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

.design-wrap .design-steps .step .dot {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    margin: 20px auto;
}

.design-wrap .design-steps .step .dot::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a4d65e;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.design-wrap .design-steps .step .img {
    width: 100%;
    height: 62px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.design-wrap .design-steps .step .content {
    font-family: 'Exo-BoldItalic', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    max-width: 100%;
    margin: 20px auto 0px;
}

.design-wrap .border-btn {
    font-weight: bold;
    margin: 80px auto 0px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.design-wrap .border-btn:hover {
    background: #a4d65e;
    border: 2px solid #a4d65e;
    cursor: pointer;
    color: #fff;
}

.design-wrap .border-btn:hover:before {
    transform: translateX(300px) skewX(-15deg);
    transition: .7s;
}

.design-wrap .border-btn::before, 
footer .contents .get-in-touch .border-btn::before,
.uk-navbar-nav li:last-of-type a::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.design-wrap .border-btn::after,
footer .contents .get-in-touch .border-btn::after,
.uk-navbar-nav li:last-of-type a::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

/*-----about us---*/
.about-us {
    background-color: #005670;
    color: #ffffff;
    padding: 60px 0px 0px;
}

.about-us h1 {
    font-family: 'Exo Black', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.about-us .content {
    width: 524px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tablet-map, .mobile-map {
    display: none;
}
.about-us .map {
    position: relative;
    margin-top: 45px;
}

.about-us .map .pin {
    position: absolute;
}

.about-us .map .pin img {
    width: 30px;
    cursor: pointer;
}

.about-us .map .pin-1 {
    top: 2%;
    right: 34%;
}

.about-us .map .pin-2 {
    top: 8%;
    right: 28%;
}

.about-us .map .pin-3 {
    top: 17%;
    right: 36%;
}

.about-us .map .pin-4 {
    top: 21%;
    right: 34.5%;
}

.popover {
    background-image: linear-gradient(rgba(0, 86, 112, 0.8), rgba(0, 124, 162, 0.8));
    background: linear-gradient(rgba(0, 86, 112, 0.8), rgba(0, 124, 162, 0.8));
    width: 225px;
    padding: 13px !important;
    border: none;
    opacity: 0.8 !important;
}

.popover .popover-title {
    background: transparent;
    border-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-family: 'Avenir-Medium', sans-serif;
    padding: 0;
    line-height: 1.4em;
}

.popover .popover-content {
    color: #fff;
    font-size: 11px;
    padding: 0;
    letter-spacing: 0.7px;
}

.popover.left {
    margin-left: 2px !important;
    margin-top: -26px !important;
}

.popover.right {
    margin-left: -4px !important;
    top: -51px !important;
}

.popover >.arrow {
    display: none !important;
}

/*-----footer---*/
footer .contents {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 80px 0px;
}

footer .contents .title {
    font-family: 'Exo Black', sans-serif;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 15px;
}

footer .contents .para {
    width: 370px;
    max-width: 100%;
}

footer .contents .get-in-touch {
    width: 100%;
    padding-top: 70px;
}

footer .contents .get-in-touch .border-btn {
    font-weight: bold;
    margin-left: auto;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

footer .contents .get-in-touch .border-btn:hover {
    background: #a4d65e;
    border: 2px solid #a4d65e;
    cursor: pointer;
    color: #fff;
}
footer .contents .get-in-touch .border-btn:hover:before {
    transform: translateX(300px) skewX(-15deg);
    transition: .7s;
}

footer .footer-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 20px;
}

footer .footer-menu ul li {
    margin-bottom: 16px;
    list-style-type: none;
}

footer .footer-menu .menu-footer-menu-container li a,
footer .footer-menu .with_submenu li a {
    border-bottom: 1px solid transparent;
    transition: all .4s;
    font-size: 11px;
    color: #757575;
}

footer .footer-menu .menu-footer-menu-container li a:hover,
footer .footer-menu .with_submenu li a:hover {
    color: #a4d65e;
    border-bottom: 1px solid #a4d65e;
    text-decoration: none !important; 
}

footer .footer-menu ul li a::before {
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #65c5b4;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
}

footer .footer-menu .foooter-social-wrap {
    width: 315px;
    max-width: 100%;
}

footer .footer-menu  form {
    position: relative;
}

footer .footer-menu .formsection label {
    font-family: 'Avenir-Medium';
    font-size: 11px;
    color: #757575;
    font-weight: normal;
    margin-bottom: 20px;
}

footer .footer-menu .formsection input {
    width: 100%;
    min-height: 48px;
    font-family: 'Avenir-Book';
    font-size: 12px;
    color: #2a2a2a;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: 0px;
    text-indent: 12px;
}

input:focus {
    outline: none !important;
}

footer .footer-menu  .foooter-social-wrap form .submitarrow {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 47px;
    right: 10px;
    width: auto;
}

footer .footer-menu  .foooter-social-wrap form .submitarrow input[type="submit"] {
    font-size: 0px;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 50%;
    border-color: #4e4e4e;
    background-image: url("../../img/submit_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: transparent;
}

footer .footer-menu .socials {
    margin-top: 50px;
}

footer .footer-menu .socials .title {
    font-family: 'Avenir-Medium', sans-serif;
    font-size: 11px;
    color: #757575;
    margin-bottom: 16px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

footer .footer-menu a {
    transition: all .2s ease-in-out;
}

footer .footer-menu .socials .d-flex .fb img {
    width: 10px;
}

footer .footer-menu .socials .d-flex .ig img {
    width: 23px;
    margin: 0px 20px;
}

footer .footer-menu .socials .d-flex .youtube img {
    width: 24px;
}